<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='product.css')}}"/>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/productpage">Products</a>
        <a href="/categories">Catergories</a>
        <a href="/users">Users</a>
        <div class="usertab">
            <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg"
            alt=""
            width="24px"
            height="24px">
            <p>TestUser1</p>
        </div>
    </nav>
    <a href="{{url_for('AddUserPage')}}" style="font-size: 25px; background-color: aqua; border-radius: 5px; padding: 5px;">New</a>

    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row['id']}}</td>
                <td>{{row['username']}}</td>
                <td>{{row['password']}}</td>
                <td><a href="{{url_for('EditUserPage', id =row['id'])}}">Edit</a></td>
                <td><a href="{{url_for('deleteEntryUser', id =row['id'])}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>